:root{
    --nature: #7be495;
    --growth: #56c596;
}


*{
    font-family: "Roboto",sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--nature),var(--growth))
}

/* Content */

.container{
    height: 90vh;
    width: 80vw;
    border-radius: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 1px 5px;
    box-sizing: border-box;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-bottom: 0;
}

/* Header */

.header{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 900;
}

.links{
    margin-left: auto;
    outline: hidden;
}

a{
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.links a{
    transition: 0.3s ease-in;
}

#box-link{
    border-radius: 20px;
    padding: 20px;
    background-color: #99daa9;
    font-weight: 900;
    transition: 0.3s ease-in;
}

/* Header Effects */

a#link:hover{
    font-size: 19px;
}

#box-link:hover{
    font-size: 19px;
    letter-spacing: 1px;
}

/* Main Content */

.main{
    flex: 1;
    display: flex;
    overflow: hidden;
}

.main-1,
.main-2{
    flex: 1;
    display: flex;
}

/* Main-1 left side */
.main-1{
    justify-content: center;
    align-items: center;
}

.pic-container{
    height: 600px;
    width: 600px;
    background-size: none;
}

.main-1 img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}

/* Main-2 right side */

.main-2{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    padding: 40px;
}

.top-content{
    font-size: 2rem;
    flex: 1;
    padding-left: 30px;
}

.top-content h1{
    margin-bottom: 5px;
    color: red;
}

.top-content h2{
    margin-top: 30px;
    color: brown;
}

.top-content h3{
    margin-top: 20px;
}

.contact{
    flex: 1;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
}

.contact-form{
    flex: 1;
}

.contact-form p{
    margin-top: 10px;
}

.contact-form button{
    margin-top: 20px;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.07s ease-in;
}

.contact-form button:hover{
    transform: scale(1.1);
}

.contact-form li{
    list-style: inside;
    margin-top: 20px;
    font-size: 28px;
}

/* Footer */
.footer{
    height: 10%;
}