:root{
    --nature: #7be495;
    --growth: #56c596;
}


*{
    font-family: "Roboto",sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--nature),var(--growth))
}

/* Content */

.container{
    height: 80vh;
    width: 80vw;
    border-radius: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 1px 5px;
    box-sizing: border-box;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

/* Header */

.header{
    border-bottom: 1px solid black;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 900;
}

.links{
    margin-left: auto;
    outline: hidden;
}

a{
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.links a{
    transition: 0.3s ease-in;
}

#box-link{
    border-radius: 20px;
    padding: 20px;
    background-color: #99daa9;
    font-weight: 900;
    transition: 0.3s ease-in;
}

/* Header Effects */

a#link:hover{
    font-size: 19px;
}

#box-link:hover{
    font-size: 19px;
    letter-spacing: 1px;
}

/* Main Content */

.main{
    flex: 1;
    display: flex;
}

.main-1,
.main-2{
    flex: 1;
    display: flex;
}

.main-1{
    justify-content: center;
    align-items: center;
}

.pic-container{
    height: 600px;
    width: 600px;
    background-size: none;
}

img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.footer{
    height: 7%;
}